.navbar-nav {
    position: absolute;
    right: 30px;
}
.nav-item {
    padding-right: 25px;
}
.contact {
    background-color: #ffa801;
    padding-right: 12px !important;
    padding-left: 9px !important;
    border-radius: 20px;
}
.backPhoto {
    background-size: cover;
    max-width: 100%;
}

.mePhoto {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: -140px;
    max-width: 100%;
    background-size: cover;
}
