/* helper */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{font-family: 'Heebo', sans-serif; position: relative;background-color:white;overflow-y: auto;}
.big-text {font-size: 60px; font-weight: 500;}
.normal-text{font-size: 20px;}
.small-text {font-size: 14px;}
/* HEADER */
.header {
    position: relative;
    width: 100%;
    height: 70px;
    /*background: linear-gradient(90deg, rgba(254,255,0,1) 30%, rgba(255,188,0,1) 60%);*/
    background-color:#323232;
}
.link {
    text-decoration: none;
    color: #fff;
}
.logo {
    position: relative;
    left: 15px;
}
.logoImg {
    width: 85px;
}
.lis {
    width: 50%;
    height: 20px;
    position: absolute;
    top: 25px;
    left: 150px;
}
.lis li {display: inline; text-decoration: none;padding: 10px; margin: auto; color: #22434c;font-size: 18px;}
.cta {
    position: absolute;
    right: 40px;
    top: 17px;
    background-color: #ffa41b;
    color: #fff;
    padding: 6px 15px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
}
/* HERO */
.hero {
    height: 100vh;  /* 587 732 */
    background: linear-gradient(0deg,rgba(0,0,0,.2), rgba(0,0,0, 0.9)), url('img/foto1.jpg') no-repeat center center;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}
.hero__content {
    width: 50%;
    max-width: 1350px;
    margin-left: 20%;
    color: white;
    position: absolute;
    
}
.about {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
    color: #fff;
}
.p1 {
    position: absolute;
    top: 120px;
    left: 5px;
    color: #fff;
    
}
.an {
    position: absolute;
    bottom: 10%;
    left: 50%;
}
/*MEDIUM BOX*/
.mediumPage1 {
    position: relative;
    background-color: #323232;
    height: 500px;
    margin-top: 70px;
}
/*BOX TEXT*/
.boxText1 {
    position: absolute;
    top: 150px;
    left: 40px;
    width: 600px;
    color: #fff;
    font-size: 30px;
}
.imgM {
    position: absolute;
    right: 40px;
    top: 65px;
    width: 500px;
    border-radius: 7px;
}


/* SERVICE BOX */
.mediumPage2 {
    position: relative;
    margin-top: 70px;
    background-color:#ededed;
    height: 500px;
    
}
.h2Serice {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    color: #000;
}
.mask {
    position: absolute;
    top: 25%;
    left: 20%;
    transform: translate(-20%, -25%);
    font-size: 50px;
    color: #000;
}
.h3Mask {
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-20%, -40%);
}
.concert {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    width: 85px;
}
.h3Concert {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}
.camera {
    position: absolute;
    top: 25%;
    right: 20%;
    transform: translate(20%, -25%);
    width: 80px;
}
.h3Camera {
    position: absolute;
    top: 40%;
    right: 20%;
    transform: translate(20%, -40%);
}
.h3Camera1 {
    position: absolute;
    top: 44%;
    right: 20.8%;
    transform: translate(20.8%, -44%);
}
.mic {
    position: absolute;
    top: 70%;
    left: 20%;
    transform: translate(-20%, -70%);
    width: 80px;
}
.h3Mic {
    position: absolute;
    top: 80%;
    left: 17%;
    transform: translate(-17%, -80%);
}
.ales {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 100px;
}
.h3ales {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
}
.h3Ales1 {
    position: absolute;
    top: 84%;
    left: 50%;
    transform: translate(-50%, -84%);
}
.att {
    position: absolute;
    top: 71%;
    right: 20%;
    transform: translate(20%, -71%);
    width: 110px;
}
.h3Att {
    position: absolute;
    top: 80%;
    right: 19.5%;
    transform: translate(19.5%, -80%);
}
.h3Att1 {
    position: absolute;
    top: 84%;
    right: 20.7%;
    transform: translate(20.7%, -84%);
}
/* GALLERY */

.boxGallery {
    width: 100%;
    height: 500px;
    margin: 70px 0px;
    background-color:#ededed;
    position: relative;
}
.con1, .con2, .con3 {
    width: 400px;
    border-radius: 5px;
}
.con1 {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}
.con2 {
    position: absolute;
    top: 50%;
    left: 36.5%;
    transform: translateY(-50%);
}
.con3 {
    position: absolute;
    top: 50%;
    left: 68%;
    transform: translateY(-50%);
}
/*FOOTER*/
.footer {
    background-color: #323232;
    height: 300px;
    margin-top: 70px;
}
/*Media*/
@media screen and (max-width: 480px) {
    /*header*/
    .header {
        width: 100vw;
    }
    .logo {
        
    }
    .logo-item {
        font-size: 20px;
    }
    .lis {
        left: 110px;
    }
    .lis li {
        font-size: 10px;
    }
    .cta {
        position: absolute;
        right: 20px;
        top: 25px;
        background-color: #ffa41b;
        color: #fff;
        padding: 1px 2px;
        text-align: center;
        border-radius: 4px;
        text-decoration: none;
    }
    /*hero*/
    .hero {
        width: 100vw;
        height: 170vh;
    }
    
}



